a {
	text-decoration: none;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;

	list-style: none;
}

ul a {
	display: inline-block;
}

ul li {
	float: left;
	margin-left: 10px;
}

.col-full {
	position: relative;

	margin: 0 auto;
	max-width: 1280px;
}

.col-full:after {
	content: '';

	display: table;
	clear: both;
}

.content {
	position: relative;

	margin: 0 auto;
}

.content:after {
	content: '';

	display: table;
	clear: both;
}

/*----------------------------*/

.nav-top {
	background: #0b212c;
}

.nav-top .content {
	max-width: 1117px;
}

.nav-top .menu {
	float: left;

	margin-left: 84px;
}

.nav-top .menu li {
	padding: 4px 0 0;
}

.nav-top .menu li + li {
	margin-left: 20px;
}

.nav-top .menu a {
	position: relative;

	padding: 3px 2px 7px;

	font-family: ProximaNovaLight;
	font-size: 14px;
	color: white;
	/*  font-weight: bold;*/
}

.nav-top .info {
	float: right;

	margin-right: 85px;
	padding-top: 8px;

	font-family: ProximaNovaRegular;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: .4px;
	color: gray;
}

.nav-top .hours .icon,
.nav-top .address .icon {
	vertical-align: baseline;

	margin-left: 10px;
	width: 13px;
}

.nav-top .hours {
	float: left;

	color: #467087;
}

.nav-top .address {
	float: left;

	margin-left: 10px;

	color: #467087;
}


/*----------------------------*/

.header {
	padding-top: 30px;
}

.nav-top .content {
	max-width: 1117px;
}

.header .logo {
	float: left;

	margin-top: 1px;
	margin-left: 85px;
}



.header .search-form {
	position: relative;

	float: left;

	margin-right: 29px;
	margin-left: 177px;
}

.header .search-form input {
	box-sizing: border-box;
	padding-right: 12px;
	padding-bottom: 5px;
	padding-left: 18px;
	width: 299px;
	height: 40px;
	border: solid 1px rgba(51, 67, 74, .13);
	border-radius: 3px;

	font-family: ProximaNovaLight;
	font-size: 14px;
	color: #467087;
}

.header .search-form input::placeholder {
	color: #467087;
}

.header .search-form button {
	position: absolute;
	top: 4px;
	right: 6px;

	padding: 4px;
	border: solid 1px transparent;

	background: transparent;

	cursor: pointer;
}

.header .search-form button span {
	overflow: hidden;

	margin-left: -5px;
	width: 1px;
	height: 1px;

	font-size: 0;
}

.header .search-form button .icon {
	margin-top: 2px;
	margin-right: 1px;
	width: 18px;
}

.header .colmn {
	float: left;
	text-align: right;

	margin-top: -2px;
	padding: 0 25px 0 21px;
	border-left: 1px solid #e9eef3;
}

.header .phone {
	font-family: GothamProBold;
	font-size: 26px;
	font-weight: bold;
	color: #f85e3a;
	letter-spacing: -1px;
}

.header .colmn + .colmn .phone {
	margin-left: 8px;

	letter-spacing: -2.5px;
}

.header .social-contacts {
	float: right;
	margin-top: -3px;
}

.header .social-contacts li {
	margin-left: 8px;
	padding: 0;
}

.header .social-contacts a {
	font-family: NerisLight;
	font-size: 14px;
	color: #a8c3d1;
	letter-spacing: -0.4px;
}

.header .button {
	display: inline-block;

	margin-top: 2px;
	margin-right: 1px;
	padding: 5px 15px 9px;
	border-radius: 25px;

	font-family: NerisLight;
	font-size: 14px;
	color: #fff;

	background-image:    -moz-linear-gradient( 180deg, rgb(248, 93, 58) 0%, rgb(246, 107, 53) 100%);
	background-image: -webkit-linear-gradient( 180deg, rgb(248, 93, 58) 0%, rgb(246, 107, 53) 100%);
	background-image:     -ms-linear-gradient( 180deg, rgb(248, 93, 58) 0%, rgb(246, 107, 53) 100%);
}

/*----------------------------*/

.intro-top {
	/*background-image: url('../img/intro.png')*/
}

.nav-top .content {
	max-width: 1117px;
}

.intro-top .marks-list {

}

.intro-top .marks-list li {

}

.intro-top .marks-list li + li {

}

.intro-top .marks-list a {

	color: #fff;
}


.intro-top .search-engine {

}

.search-engine input {
	box-sizing: border-box;
	padding-right: 12px;
	padding-bottom: 5px;
	padding-left: 18px;
	width: 299px;
	height: 40px;
	border: solid 1px rgba(51, 67, 74, .13);
	border-radius: 3px;

	font-family: ProximaNovaLight;
	font-size: 14px;
	color: #467087;
}

.search-engine input::placeholder {

}

.search-engine .button {
	display: inline-block;

	margin-top: 3px;
	margin-right: 1px;
	padding: 5px 16px 9px;
	border-radius: 25px;

	font-family: NerisLight;
	font-size: 14px;
	color: #fff;

	  background-image: -moz-linear-gradient( 180deg, rgb(248,93,58) 0%, rgb(246,107,53) 100%);
  background-image: -webkit-linear-gradient( 180deg, rgb(248,93,58) 0%, rgb(246,107,53) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(248,93,58) 0%, rgb(246,107,53) 100%);
}

.intro-top .header,
.intro-top .pros {

}

.intro-top .header {

}

.intro-top .pros {

}

.intro-top .bg-img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}